.dashboard-container .card {
  border-radius: 10px;
}

.dashboard-container .card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.dashboard-container .card-body {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}