#app {
  background-color: var(--color-app-bg);
  color: var(--color-text);
}

.app-container {
  /* header:70px, footer:100px */
  position: relative;
  min-height: calc(100vh - 70px - 170px);
  padding: 30px 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}