.app-bg {
  background-color: rgba(0, 0, 0, .03);
}

.app-container {
  /* header:70px, footer:100px */
  min-height: calc(100vh - 70px - 170px);
  padding: 30px 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}