#header-network-dropdown {
  margin: 0 0.5rem;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.info-icon {
  align-self: center;
  color: darkgrey;
}

.custom-navbar .dropdown-menu {
  min-width: 200px;
}

.default-node-div {
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.default-node-item {
  padding: 0.25rem 0rem 0.25rem 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 175px;
}

.minus-icon-item {
  align-self: center;
  width: 2rem;
  margin: 0 0.5rem;
  padding: 0.5rem
}

.add-node-div {
  display: flex;
  margin-top: 1rem;
  padding-left: 1rem;
}

.plus-icon-item {
  width: 2rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
}