.viewall-table {
  white-space: nowrap;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  background-color: white;
  min-height: 500px;
  position: relative;
}

.viewall-table table {
  width: 100%;
  table-layout: fixed !important;
}

.viewall-table thead th {
  padding: 1rem 0.75rem;
  border-top: 0;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.viewall-table .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.viewall-pagination {
  justify-content: flex-end;
}

.viewall-pagination .page-item:focus {
  outline: none;
}

.viewall-pagination .page-item.active .page-link {
  background-color: #019c99;
  border-color: #019c99;
}

.viewall-pagination .page-link {
  color: #019c99;
}

.viewall-pagination .page-link:focus {
  box-shadow: none;
}

.viewall-table td {
  padding: 0.8rem;
}

.viewall-table [role=cell] {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hardcoded Widths (May require tweaks) */

/* DS-Block Page */

.viewall-table #height-col {
  width: 100px;
}

.viewall-table #difficulty-col {
  width: 90px;
}

.viewall-table #ds-difficulty-col {
  width: 110px;
}

.viewall-table #ds-leader-col {
  width: 410px;
}

.viewall-table #age-col {
  width: 160px;
  text-align: end;
}

/* Tx-Block Page */

.viewall-table #numTxns-col {
  width: 60px;
  text-align: center;
}

.viewall-table #total-fees-col {
  width: 120px;
  padding-right: 1rem;
  text-align: center;
}

/* Transactions Page */

.viewall-table #from-col {
  width: 170px;
}

.viewall-table #to-col {
  width: 170px;
}

.viewall-table #hash-col {
  width: 600px;
  padding-left: 2rem;
}

.viewall-table #fee-col {
  width: 100px;
  text-align: center;
}

.viewall-table #amount-col {
  text-align: right;
  width: 190px;
}