/* Header */

.dsblock-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dsblock-header-blocknum {
  font-weight: 350;
  color: rgb(93, 106, 133);
}

.dsblock-header a {
  color: darkslategray;
}

/* Card */

.dsblock-details-card {
  width: 100%;
  margin-top: 1rem;
}

.dsblock-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(232, 234, 237);
}

/* Miner Info */

.miner-card {
  width: 100%;
  margin-top: 1rem;
  user-select: none;
}

.miner-card .row {
  margin: 0;
}

.showmore-container {
  text-align: center;
  background-color: white;
  user-select: none;
  border: solid 1px rgba(0, 0, 0, 0.125);
  border-radius: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.showmore-container .row {
  padding: 0.25rem 0;
  justify-content: center;
}