.custom-footer {
  height: 120px;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  border-top: 1px solid #dee2e6;
}

.custom-footer a {
  padding: 0 0.3rem;
  color: rgb(205, 205, 205);
}