@font-face {
  font-family: 'Jura';
  src: local('Jura'), url(./fonts/Jura-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  src: local('RobotoMono'), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./fonts/Muli-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #349aeb;
}

a:hover {
  color: #1d6fb2;
  text-decoration: none;
}

.disabled-link {
  cursor: none;
  pointer-events: none;
  opacity: 0.6;
}

.center-spinner {
  text-align: center;
  margin: 20vh;
}

.mono {
  font-family: RobotoMono;
  font-size: 15px;
}

.subtext {
  color: rgb(93, 106, 133);
}