.display-table table {
  width: 100%;
  table-layout: fixed !important;
  border-collapse: separate;
  text-align: center;
}

.display-table th {
  padding-bottom: 0.3rem;
  color: dimgrey;
}

.display-table td {
  padding: 0.3rem;
}

.display-table [role=cell] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hardcoded Widths (May require tweaks) */

.display-table #height-col {
  width: 75px;
}

.display-table #difficulty-col {
  width: 75px;
}

.display-table #ds-difficulty-col {
  width: 110px;
}

.display-table #age-col {
  width: 140px;
}

.display-table #numTxns-col {
  width: 100px;
}

.display-table #reward-col {
  width: 80px;
}

.display-table #status-col {
  width: 80px;
}